
@{
    ViewBag.Title = "Edit is not accessible";
}
<div class="disabledEdit">
    <h2>Hmmmmmm.... I wunted sumthin' to edit....</h2>
    <img src="https://kittentoob.com/wp-content/uploads/2017/06/Thinking-750x422.jpg" alt="shortcut cat">
</div>

