
@{
    ViewBag.Title = "Create Status";
}
<div id="CreateBar" class="row">
    <button id="btnStatusList" type="button" class="btn btn-primary">Back To List</button>
    <button id="btnSaveStatus" type="button" class="btn btn-primary">Save Status</button>
</div>
<div class="row">
    <div id="createForm" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label for="statusName">Status Name</label>
            <input type="text" class="form-control input-sm" id="statusName">
        </div>
        <div class="form-group">
            <label for="statusDescription">Description</label>
            <textarea class="form-control input-sm" rows="5" id="statusDescription"></textarea>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/Scripts/systemStatusCreate.js"></script>
}
@section Styles {
    <link href="~/Content/Site.css" rel="stylesheet" />
}